---

let includedActivities = [];
const proxyUrl = "https://api.antolab.net/github-totolab"
const keywordsToExclude: String[] = [];

try {
  // Fetch recent GitHub activities
  const activitiesResponse = await fetch(`${proxyUrl}/events/public`);

  if (activitiesResponse.ok) {
    const activities = await activitiesResponse.json();

    if (Array.isArray(activities)) {
      const result = activities.filter(item =>
        !keywordsToExclude.some(keyword => item.repo.name.includes(keyword))
      );
      const seen = new Set();

      for (const item of result) {
        const uniqueKey = `${item.repo.name}-${item.type}`;
        if (!seen.has(uniqueKey)) {
          seen.add(uniqueKey);
          includedActivities.push(item);
        }
      }
      includedActivities.slice(0, 10);
    } else {
      console.error('Unexpected format for activities data:', activities);
    }
  } else if (activitiesResponse.status === 403) {
    console.error('GitHub API rate limit exceeded while fetching activities.');
  } else {
    console.error('Failed to fetch activities:', activitiesResponse.status);
  }
} catch (error) {
  console.error('An error occurred while fetching data:', error);
}
---

<div class="github-activity">
  <h3>Recent GitHub Activity</h3>
  <ul>
    {includedActivities.length > 0 ? (
      includedActivities.map(activity => (
        <li>
          {activity.type === 'PushEvent' && 
            `Pushed to ${activity.repo.name}`}
          {activity.type === 'CreateEvent' && 
            `Created ${activity.payload.ref_type} in ${activity.repo.name}`}
          {activity.type === 'WatchEvent' &&
            `Starred ${activity.repo.name} repository`}
        </li>
      ))
    ) : (
      <p>No recent activity found or an error occurred.</p>
    )}
  </ul>
</div>

<style>
  .github-activity {
    padding: 1.25rem;
    width: 100%;
    box-sizing: border-box;
  }

  .github-activity h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-primary);
    margin-bottom: 1rem;
  }

  .github-activity ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .github-activity li {
    padding: 0.75rem;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-secondary);
    font-size: 0.875rem;
    transition: var(--transition-default);
  }

  .github-activity li:last-child {
    border-bottom: none;
  }

  .github-activity li:hover {
    background-color: var(--background-light);
  }

  @media (max-width: 768px) {
      .github-activity {
          padding: 0.75rem;
      }
      
      .github-activity h3 {
          font-size: 1.25rem;
      }
  }
</style>
